body{
    /* background-image: url(https://img.freepik.com/premium-vector/body-mass-index-control-abstract-concept-trying-control-body-weight-with-bmi-web-banner_473851-32.jpg); */
     background-color: rgb(236, 200, 156);
    }
    .container {
        max-width: 700px;
        margin-left: 300px;
        margin-top:30px;
        padding: 30px;
        height: 500px;
        width: 600px;
        border-style:groove ;
        border-radius: 50px;
        border-width: 20px;
        border-color: rgb(230, 193, 241);
        background-color: rgb(red, rgb(101, 156, 101), blue)
    }
    
    h1 {
        color:rgb(22, 216, 71);
        text-align: left;
        margin-bottom: 20px;
        margin-left: 200px;
    }
    
    .input-container {
        margin-bottom: 10px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type='number'] {
        width: 500px;
        padding: 10px;
        font-size: 20px;
    }
    
    .calculate-btn {
        display: block;
        width: 400px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        font-size: 20px;
        border: none;
        border-radius: 40px;
        margin-left:110px;
    
        cursor: pointer;
    }
    .refresh{
        display: block;
        width: 400px;
        padding: 10px;
        background-color: #9caa76;
        color: #fff;
        font-size: 20px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 35px;
        margin-left: 110px;
    }
    
    .result {
        margin-top: 20px;
        padding: 10px;
        background-color: transparent;
        border-radius: 4px;
    }
    
    .bmi-value {
        font-weight: bold;
    }
    
    .bmi-message {
        color: #007bff;
        font-weight: bold;
    }